### IntelliJ IDEA ###
.idea
.gradle
gradle
out/
!**/src/main/**/out/
!**/src/VariantFunctionTest/**/out/

prison/gradlew.bat
prison/gradlew

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/VariantFunctionTest/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store